<style>
    .header {
        text-align: center;
        color=green;
    }
        body{
            background-image: url("bg4.jpg");
            background-size: fixed;
            background-position: center;

            
        }
        .intro {
            background: url(topbg2.jpg);
            padding:50px;
            text-align: center; 
            color: azure;
            font-size: 50px;
            border-radius: 1.5rem;
        }
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border-radius: 2rem;
            border-style: groove;
        }
        .bg{
            color: whitesmoke;
            font-size: 20px;
        }
        h5{
            background-image: url("bg1.jpg");
            width: 300px;
            border-style: groove;
            border-radius: 1rem;
            padding: 30px;
            margin: auto;  
            text-align: center;
            font-size: 30px;
        }
        .st{
            font-size: 25px;
            margin: auto;
            border: 10px azure;
            border-style: groove;
            border-radius: 2rem;
            text-align: center;
            color: whitesmoke;
            background-image: url("bg5.png");
            line-height: 50px;
        }

        
    a:link{
        color: orange;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited{
        color: yellow;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover{
        color:red;
        background-color: transparent;
        text-decoration: none;
    }
    a:active{
        color: yellowgreen;
        background-color: transparent;
        text-decoration: none;
    }
</style>